<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layouts/layout :: layout(~{::main})}">
<th:block th:fragment="main">

<form action="#" method="post"
      th:action="@{/person/{id}/update(id=${id})}"
      th:object="${person}">
    <div>
        <label for="input-prenom">
            Prenom:
        </label>
        <input type="text" id="input-prenom"
               th:field="*{prenom}"
               th:value="*{prenom}">
    </div>
    <div>
        <label for="input-nom">Nom:</label>
        <input type="text" id="input-nom"
               th:field="*{nom}"
               th:value="*{nom}">
    </div>

    <button type="submit">envoyer</button>
</form>

</th:block>
</html>